
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Fryserindeks:<br></h2>
                <p class="lead">Her er vår fryserindeks</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img style="border: 10px solid black; border-radius: 6px;" class="img-responsive" src="resources/img/seal_tired.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>